body{
  background: 2A70E3;
}
#flow_1,
#flow_2,
#flow_3,
#flow_4 
{
  stroke-linecap: round;
    stroke-dasharray: 0.5 15;
    stroke-dashoffset: 1000;
    animation: dash 15s linear infinite;
    animation-direction: reverse;
}
#wherescape_flow1,
#wherescape_flow2,
#wherescape_flow3,
#wherescape_flow4
{
  stroke-dasharray: 1 30;
  stroke-dashoffset: 1000;
  animation: dash 40s linear infinite;
  animation-direction: reverse;
}
#snowflake_flow1,
#snowflake_flow2,
#snowflake_flow3,
#snowflake_flow4{
  stroke-dasharray: 10 30;
  stroke-dashoffset: 1000;
  animation: dash 10s linear infinite;
  animation-direction: reverse;
}
#warehouse_light1,
#warehouse_light2,
#warehouse_light3{
  animation: disappear 0.5s infinite alternate;
}
@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}
@keyframes disappear {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}